.imageCarousel-imageWrapper {
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

.imageCarousel-imageWrapper img {
  -webkit-transform: translate3d(0, 0, 0);
}

.sliding img {
  position: absolute;
}


/*   Transitions   */
.slide {
  -webkit-animation-duration: 500ms;
  -webkit-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}

.slide.in {
  -webkit-animation-name: slideinfromright;
}
.slide.out {
  -webkit-animation-name: slideouttoleft;
}

@-webkit-keyframes slideinfromright {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideouttoleft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}