.imageCarousel-imageWrapper {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity .4s linear;
}

.imageCarousel-imageWrapper img {
  -webkit-transform: translate3d(0, 0, 0);
}

.sliding img {
  position: absolute;
  -webkit-animation-duration: 600ms;
  -webkit-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}

/*  Must set a .no-js on your own  */
.no-js .imageCarousel-imageWrapper {
  opacity: 1;
}


/*   Transitions   */
.sliding .in {
  -webkit-animation-name: slideinfromright;
}
.sliding .out {
  -webkit-animation-name: slideouttoleft;
}

@-webkit-keyframes slideinfromright {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideouttoleft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}